<!DOCTYPE html>
<html>
<head>
	<title>Curieux</title>
</head>
<body>
	<div class="curieux">
		<div><h1>oui ?</h1></div>
		<div><img class="anne" src="anne.jpg" alt="anne"></div>
	</div>
</body>
</html>