.contact {
	padding-top: 10%;
	display: flex;
	justify-content: center;
}

.anne {
	width: 220px;
	height: 300px;

}

.curieux {
	padding-top: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}