<div class="footer">
    <div class="tabs">
      <input id="tab1" type="radio" name="tabs">
      <label for="tab1">Photos</label>
      <input id="tab2" type="radio" name="tabs" checked>
      <label for="tab2">Profile</label>
      <input id="tab3" type="radio" name="tabs">
      <label for="tab3">Info</label>
      <input id="tab4" type="radio" name="tabs">
      <label for="tab4">About</label>
      <div class="content">

         <div id="content1"> Malheureusement Barbara n'aimait pas les photos
         </div>

         <div id="content2"> Barbara aimait les pommes
         </div>

         <div id="content3"> Barbara avait toujours l'air plus jeune que son age ...
         </div>
        
         <div id="content4"> Barbara aime les aigles
         </div>

      </div>

   </div>
</div>


