<!DOCTYPE html>
<html>
	<header>
		<div class="navbartop">
		  <div class="titletop"><h1>LA BASE</h1></div>
		  <div class="bouttontop"><a href="/" class="active">Home</a>
		  <a href="/news">Curieux</a>
		  <a href="/contact">Contact</a></div>
		</div>
		<div class="boum"> <img class="rattoun" src="rattoun.png" alt="rattoun"> </div>
	</header>
<body>
</body>
</html>
